html {
  height: 100%;
}

@font-face {
  font-family: musicalina;
  src: url("../fonts/musicalina/musicalina.ttf");
}

body {
  min-height: 100vh;
  font-size: 25px;
  font-family: "Barlow Condensed", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #008f7a;
}

header {
  margin: 0px;
  background-color: #ff9671;
  height: 190px;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

h1 {
  display: inline-block;
  font-size: 50px;
  font-family: "musicalina";
  color: azure;
  margin-top: 0px;
  margin-right: 50px;
  margin-bottom: 0px;
  margin-left: 15px;
}

nav {
  width: fit-content;
  margin: 0px;
}

nav ul {
  margin-top: 0px;
}

nav ul li {
  color: blue;
}

nav ul li a {
  font-style: oblique;
  color: azure;
  font-size: 18px;
}

form {
  display: inline-block;
  width: 597px;
}

section {
  font-size: 25px;
  border-bottom: 1px solid red;
}

section article {
  display: inline-block;
  margin: 0px;
  width: fit-content;
}

section article img {
  display: inline-block;
  height: 160px;
  width: 160px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  border-radius: 15%;
}

p {
  margin-left: 15px;
  margin-right: 15px;
  color: azure;
}

footer {
  margin-left: 15px;
  color: azure;
}
