* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: oeste;
    src: url(../fonts/bleeding_cowboys/Bleeding_Cowboys.ttf);
  }
  
  @font-face {
    font-family: Race;
    src: url(../fonts/racing_catalogue/Racing\ Catalogue.ttf);
  }
  
  @font-face {
    font-family: oswald;
    src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
  }
  
  .bg-red {
    background-color: red;
  }
  
  .text-white {
    color: white;
  }
  
  h1 {
    font-family: "oeste";
    font-size: 2em;
    padding: 10 15;
  }
  
  .Titulo-peq {
    display: none;
  }
  
  #logo {
    border-right: 1px solid white;
  }
  
  #nav {
    margin: 0;
  }
  
  nav ul li {
    list-style: none;
  }
  
  nav ul li a {
    font-size: 2.5em;
    font-family: race;
    color: white;
  }
  
  nav ul li a:hover {
    text-decoration: none;
  }
  
  #name {
    width: 120px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid white;
    font-family: oswald;
    font-size: 14px;
    margin-right: 10px;
  }
  
  #password {
    width: 120px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid white;
    font-family: oswald;
    font-size: 14px;
  }
  
  .btn {
    background-color: white;
    width: 50px;
    height: 20px;
    padding: 0;
    margin-bottom: 4px;
    margin-left: 5px;
    padding-bottom: 23px;
    border: 1px solid white;
    text-align: center;
    font-family: oswald;
    font-size: 15px;
    border-radius: 10px;
  }
  
  #form-container {
    padding: 0;
  }